:root {
  --primary-color: #d4e1d8;
  --secondary-color: #6b8773;
  --text-color: #000000;
  --white: #ffffff;
  --hover-color: #007bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}
*::hover {
  color: var(--hover-color);
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: grey;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--hover-color);
}

.logo {
  width: 80px;
  height: 80px;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.containerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.containerheader h1 {
  font-size: 2em;
  color: var(--secondary-color);
}

.navigation {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-right: 1rem;
  transition: transform 0.2s ease-in-out;
}

.navigation a::hover {
  transform: scale(1.05);
}

.navigation li {
  padding: 0.15rem 0.5rem;
  border: 1px solid var(--secondary-color);
}

.btn {
  display: none;
}

.container {
  background-color: var(--primary-color);
  margin: 1rem 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#disclaimer {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem 0;
  border-top: 5px solid var(--secondary-color);
}

.product {
  padding: 0.75rem;
  transition: transform 0.2s ease-in-out;
}

.product:hover {
  transform: scale(1.05);
}

.footer {
  background-color: var(--primary-color);
  border-top: 5px solid var(--secondary-color);
  padding: 2rem 1rem;
  color: var(--text-color);
}

.footer .title {
  font-size: 2em;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.8rem;
}
