:root {
  --primary-color: #d4e1d8;
  --secondary-color: #6b8773;
  --text-color: #000000;
  --white: #ffffff;
  --hover-color: #007bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: var(--text-color);
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

.logo {
  width: 80px;
  height: 80px;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.containerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  border-top: 5px solid var(--secondary-color);
}

.containerheader h1 {
  font-size: 2em;
  color: var(--secondary-color);
}

.navigation {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-right: 1rem;
  transition: transform 0.2s ease-in-out;
}
.navigation a{
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  border-radius: 8px;
  color: var(--text-color);
}

.navigation a:hover {
  background-color: var(--white);
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: var(--hover-color);
}

.btn {
  display: none;
}

.container {
  background-color: var(--primary-color);
  margin: 1rem 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

#introduction {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 3px solid var(--secondary-color);
}

#prodhome, #products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem 0;
  border-top: 5px solid var(--secondary-color);
}

.prodtitle {
  font-size: 1.8rem;
  margin: 1rem 0;
  text-align: center;
  color: var(--secondary-color);
}

.product {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  border-top: 5px solid var(--secondary-color);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.product h3 {
  margin-top: 0.5rem;
  color: var(--secondary-color);
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#products {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-bottom: 2rem;
}
.error {
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
}

.footer {
  background-color: var(--primary-color);
  border-top: 5px solid var(--secondary-color);
  padding: 2rem 1rem;
  color: var(--text-color);
  border-radius: 8px;
}

.footer-content p {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
  color: var(--secondary-color);
}

.footer .title {
  font-size: 2em;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 5px solid var(--secondary-color);
}